body
{
    margin: 0;
    font-family: 'Teko', sans-serif;
    /*font-family: 'Bebas Neue', cursive;*/
    font-size: 15px;
    line-height: 1.6;
    color: #333;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/*CONTAINER*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

/* INTRO */
.intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner
{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro_title
{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: aliceblue;
}

/* HEADER */
.header
{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
}

.header_inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
  font-size: 25px;
  line-height: 25px;
}
 
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
 
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.nav
{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link
{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: blue;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav_link:hover
{
    color: chocolate;
}